{% extends 'base.html' %}  <! IT MEANS BASE.HTML WILL WORK ON TOP OF INDEX.HTML>

{% block title %}HOME{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}


<div class="container-fluid px-0">
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
            <a href="blog">
              <img src="/static/images/120.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block" style="background: grey; border-radius:63px;">
                <h5>WELCOME TO VAIBHAV INDUSTRIES BLOG HOMEPAGE</h5>
                <p>VIEW LATEST BLOG </p>
              </div>
            </a> 
            </div>
            <div class="carousel-item">
            <a href="/about">
              <img src="/static/images/130.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block" style="background: grey; border-radius:63px;">
                <h5>LEARN ABOUT US</h5>
                <p>SEE ABOUT THE CEO OF VAIBHAV INDUSTRIES</p>
              </div>
            </a>
            </div>
            <div class="carousel-item">
            <a href="/contacts">
              <img src="/static/images/2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block" style="background: grey; border-radius:63px;" >
                <h5>CONTACT US</h5>
                <p>SEND US FEEDBACK OR CONTACT US</p>
              </div>
            </a>
            </div>
            
            
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
</div>
<div class="row mr-2 my-4 ml-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">FEATURED POST</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            E-Commerce Majors Amazon, Flipkart Welcome to Join Network, Says ONDC Head
            <li>by ANI, 27 June 2023</li></p>
          <a href="/blog/technew1" role="button" class="btn btn-secondary" style="background-color:green; border-color:white; color:white">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">LATEST NEWS</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">European Parliament adopts AI Act position</p>
          <a href="/blog/technew2" role="button" class="btn btn-secondary" style="background-color:green; border-color:white; color:white">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}

